
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin:0;
    padding:0;
    color:white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17.5px;
}
body{
    background-image: repeating-linear-gradient(0deg, rgb(41, 41, 41) 0px, rgb(41, 41, 41) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(41, 41, 41) 0px, rgb(41, 41, 41) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, hsl(87,0%,9%),hsl(87,0%,9%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 12px;
    color: white;
    z-index: 999;
    font-size: 10px;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}
nav .left .name a{
    z-index: 999;
    position: fixed;
}
nav .right .exports{
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100vh;
    background-color: black;
    justify-content: center;
    y-overflow:hidden;
}
nav .right .exports a{
    margin: 2.5em auto;
}
nav .right .menu_button_open{
    cursor: pointer;
    display: flex;
    top:1.5em;
    right:10%;
    position: absolute;
    font-size: 30px;
}
nav .right .menu_button_close{
    cursor: pointer;
    display: none;
    top:1.5em;
    right:10.5%;
    position: absolute;
    font-size: 30px;
}
h1{
    text-align: center;
    margin-top:300px;
}
